.main {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 90%;
  letter-spacing: 0.1rem;
  font-size: 26px;
}
.project-section {
  background: linear-gradient(180deg, #c7b9b3 10%, #92827f 0%);
  letter-spacing: 0.1rem;
  margin: 0;
  margin-bottom: 30px;
  padding: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.288638);
  border-radius: 12px;
}
.project-container h2 {
  margin: 0;
  padding-bottom: 20px;
}
.project-section h3 {
  font-size: 9px;
  font-weight: 100;
}
.repo__link {
  font-size: 12px;
  padding-right: 22px;
}
.live__link {
  font-size: 12px;
  padding-left: 22px;
}
.app__img {
  max-width: 100%;
  max-height: 250px;
  width: 320px;

  display: flex;
  justify-content: center;

  margin: 0;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.288638);
}
.__projectTools {
  font-size: 9px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
}
.__projectTitle {
  margin: 0;
  font-size: 28px;
  padding-bottom: 10px;
  filter: drop-shadow(0.1rem 0.1rem 0.2rem rgba(63, 57, 57, 0.638));
}
.__projectsTagline {
  padding-top: 22px;
  padding-left: 36.8px;
  filter: drop-shadow(0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.618));
}
.__projectDesc {
  font-size: 13px;

  padding-left: 12px;
  padding-right: 14px;
  padding-bottom: 4px;
}
.__pictures {
  max-height: 240px;
  margin-top: 45px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.__pictures::-webkit-scrollbar {
  width: 3px;
  height: 8px;
  background-color: #aaa;
}
@media (min-width: 450px) {
  .main {
    max-width: 80%;
    display: flex;
  }
}
@media (min-width: 800px) {
  .main {
    position: fixed;
    width: 60%;
    max-width: 600px;
    float: left;
    margin-left: 0;
    padding-top: 80px;
  }
  .header {
    max-width: 395px;
  }
  .header h1 {
    padding-left: 0px;
  }
  .project-container {
    border-radius: 20px;
    width: 50%;
    position: absolute;
    right: 25px;
    padding-top: 70px;
    margin-top: 8px;
  }
  .header-box {
    max-width: 50%;
    justify-content: center;
  }

  .project-section {
    width: 85%;
    max-width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 135px;
  }

  .__repo__live {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: auto;
  }
  .__projectTitle {
    padding-left: 18px;

    display: flex;
    justify-content: flex-start;
  }
  .__projectsTagline {
    position: relative;
    left: 25px;
  }
  .__projectDesc {
    padding-left: 18px;

    display: flex;
    justify-content: flex-start;
  }
  .__projectTools {
    padding-left: 18px;
    padding-top: 24px;
    display: flex;
    justify-content: flex-start;
  }

  .__pictures {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    justify-content: center;
  }
  .app__img {
    max-height: none;
    width: 440px;
  }
}

@media (min-width: 1200px) {
  .main {
    padding-top: 90px;
    padding-left: 50px;
  }
}

@media (min-width: 1500px) {
  .main {
    padding-top: 88px;
    padding-left: 250px;
  }
  .app__img {
    width: 600px;
  }
  .project-section {
    padding-bottom: 270px;
  }
}
