.project-container {
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 1.5rem;
  padding-top: 0;
}

.project-section {
  background-color: rgb(64, 64, 70);
  height: 120px;
  letter-spacing: 0.1rem;
  margin: 0;
  margin-bottom: 12px;
  padding: 1.5rem;
}

.project-container h2 {
  margin: 0;
  padding: 12px;
}

.project-section h3 {
  font-size: 8px;
}

@media (min-width: 920px) {
  .project-container {
    padding-top: 24px;
    position: relative;
    width: 600px;
    bottom: 470px;
    left: 450px;
  }
  .project-section {
    position: relative;
    bottom: 0px;
    right: 0px;
  }

  .project-container h2 {
    position: relative;
    bottom: 0px;
    right: 0px;
  }
}
