.project-container {
  letter-spacing: 0.1rem;
  margin: 0;
  padding-top: 0;
  font-size: 26px;
  padding-left: 20px;
  padding-right: 30px;
}

.project-section:hover {
  filter: drop-shadow(0 0 0.1rem black);
}

.project-section {
  background-color: rgb(64, 64, 70);
  letter-spacing: 0.1rem;
  margin: 0;
  margin-bottom: 30px;
  padding: 1rem;
  width: 95%;
}

.project-container h2 {
  margin: 0;
  padding-bottom: 20px;
}

.project-section h3 {
  font-size: 9px;
  font-weight: 100;
}

.__projectDesc {
  font-size: 12px;
  padding-left: 12px;
  padding-right: 14px;
}

.repo__link {
  font-size: 12px;
  padding-right: 12px;
  padding: 12px;
}

.live__link {
  font-size: 12px;
}

.app__img {
  max-height: 250px;
  padding-bottom: 4px;
  padding-left: 4px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.__projectTitle {
  margin: 0;
  font-size: 20px;
  padding-left: 10px;
}
.__projectTools {
  font-size: 9px;
  padding-left: 10px;
}

.__pictures {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 250px;
}
.__pictures::-webkit-scrollbar {
  width: 3px;
  height: 8px;
  background-color: #aaa;
}

@media (min-width: 800px) {
  .project-container {
    position: relative;
    max-width: 600px;
    bottom: 490px;
    left: 400px;
  }
  .project-section {
    position: relative;
    bottom: 0px;
    right: 0px;
    width: 400px;
    min-height: 250px;
  }

  .project-container h2 {
    position: relative;
    bottom: 0px;
    right: 0px;
  }
  .__pictures {
    padding-left: 4px;
    width: 95%;
  }
  .app__img {
    padding-left: 10px;
  }
}
