.header-bar {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  height: 10rem;
  max-width: 335px;
  max-height: 300px;
}

.face-container {
  height: 140px;
  width: 140px;
}

.face-img {
  padding-top: 12px;
  height: 122px;
  width: 120px;
  margin-left: 65px;
  border-radius: 150px;
}

.header-links {
  align-self: flex-end;
  flex-direction: column;
  padding-bottom: 18px;
  position: relative;
  bottom: 125px;
}

.launch-img {
  height: 12px;
  padding: 5px;
  position: relative;
  top: 6px;
}

.git-img {
  height: 18px;
  padding-right: 8px;
  padding-top: 4px;
  position: relative;
  top: 2px;
}

.linkedin-img {
  height: 18px;
  padding-right: 3px;
  padding-top: 4px;
  position: relative;
  top: 2px;
}

.email-img {
  width: 18px;
  padding-right: 3px;
}

.header-links:hover {
  filter: drop-shadow(0.1rem 0.1rem 0.1rem rgb(0, 0, 0));
}
