.header {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 1.5rem;
}

.__headline {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  margin: 0;
  line-height: 3.4rem;
}

.header h1 {
  font-size: 38px;
  margin: 0;
  line-height: 42px;
  letter-spacing: 0px;
  padding-bottom: 28px;
}

.header p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 0.7rem;
  color: rgb(170, 165, 165);
  letter-spacing: 0.06rem;
  line-height: normal;
  max-width: 90%;
}

.header-box {
  list-style-type: none;
  display: inline-flex;
}

.header-box div:nth-child(1) {
  position: relative;
  top: 10px;
  left: 28px;
}
.header-box div:nth-child(2) {
  position: relative;
  left: 225px;
  bottom: 135px;
}
.header-box div:nth-child(3) {
  position: relative;
  left: 218px;
  bottom: 110px;
}
.header-box div:nth-child(4) {
  position: relative;
  left: 230px;
  bottom: 84px;
}

#face-img {
  max-height: 140px;
  border-radius: 150px;
}

.launch-img {
  position: relative;
  top: 8px;
  left: 6px;
}

.git-img {
  height: 25px;
  position: relative;
  top: 6px;
  right: 10px;
}

.linkedin-img {
  height: 25px;
  position: relative;
  top: 6px;
  right: 10px;
}

.email-img {
  height: 20px;
  position: relative;
  top: 6px;
  right: 10px;
}

.header-links:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.288638);
}
