@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body,
html {
  margin: 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(80deg, #424242 20%, #424242 80%);
  /* background: linear-gradient(180deg, #40434d 0%, #383f51 100%); */
  /* background: #121f2e; */
  min-height: 800vh;
  box-sizing: border-box;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}

a,
a:link {
  color: white;
}
a:hover {
  color: white;
}
a:focus {
  color: white;
}
a:active {
  color: white;
}
a:visited {
  color: white;
}
